<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о читателе</title>
</head>
<body>
<a th:text="${person.getFullName() + ', ' +  person.getBirthYear()}">user</a>
<hr>
<form style="display: inline-block" th:method="get" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Изменить">
</form>

<form style="display : inline-block;" th:method="delete" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>