<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить книгу</title>
</head>
<body>
<form th:method="post" th:action="@{/books/{id}/edit(id=${book.getId()})}" th:object="${book}">
    <label for="name" th:text="'Название книги: '">title</label>
    <input type="text" th:field="*{title}" id="name">
    <div style="color : red; font-size : 14px;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error message</div>
    <p>
        <label for="authorFullName" th:text="'ФИО автора: '">authorFullName</label>
        <input type="text" th:field="*{authorFullName}" id="authorFullName">
        <div style="color : red; font-size : 14px;" th:if="${#fields.hasErrors('authorFullName')}" th:errors="*{authorFullName}">Error message</div>
    <p>
    <label for="publicationYear" th:text="'Год выпуска книги: '">publicationYear</label>
    <input type="text" th:field="*{publicationYear}" id="publicationYear">
    <div style="color : red; font-size : 14px;" th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Error message</div>
    <hr>
    <input style="display: inline-block" type="submit" value="Изменить">
</form>

<form style="display: inline-block" th:method="get" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Назад">
</body>
</html>